---
//@ts-nocheck
import { Font } from "astro:assets";
import "../styles/importExternals.scss";
import { Image } from "astro:assets";
import Sepeda1 from "../assets/images/daniel-salcius-RRcYcdGY630-unsplash.jpg";
import Sepeda2 from "../assets/images/jonny-kennaugh-nPOtzvGLYW0-unsplash.jpg";
import Sepeda3 from "../assets/images/murillo-de-paula-o2FCfhNSjPo-unsplash.jpg";
import Sepeda4 from "../assets/images/streetsh-vZAk_n9Plfc-unsplash.jpg";
---

<style>
	@use "../styles/importExternals.scss";

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	.main-view {
		background-color: black;
		width: 100vw;
		height: 100vh;
		overflow-x: auto;

		.hero {
			display: flex;
			flex-direction: row;
			height: 100%;

			.slides-text {
				z-index: 3;
				margin-left: 40px;
				margin-right: 40px;
				margin-top: 480px;
				h1 {
					font-size: 60px;
				}
			}
			.slides {
				display: flex;
				flex-direction: column;
				justify-content: start;
				flex: 0 0 100%;
			}

			.slide-1 {
				background-color: black;
			}

			.slide-2 {
				background-color: black;
			}

			.slide-3 {
				background-color: black;
			}
			.slide-4 {
				background-color: black;
			}
			.slides-img {
				width: 100%;
				height: 200%;
				object-fit: cover;
				z-index: 0;
				margin-top: -800px;
				opacity: 0.8;
			}
		}
	}

	h1,p {
		color: white;
		font-family: var(--font-switzer);
		z-index: 1;
		line-height: 60px;
	}
</style>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<Font cssVariable="--font-switzer" />
		<title>Astro</title>
	</head>
	<body>
		<section class="main-view">
			<div class="intro" style="display: none">
				<h1>INI INTRO</h1>
			</div>
			<div class="hero">
				<div class="slides slide-1">
					<div class="slides-text">
						<h1>Park your bike wherever you like.</h1>
						<p>You can track your bike.</p>
					</div>
					<Image
						class="slides-img"
						src={Sepeda1}
						alt="orang naik sepeda"
					/>
				</div>
				<div class="slides slide-2">
					<div class="slides-text">
						<h1>Biking through the city.</h1>
						<p>Do it fun, do it better.</p>
					</div>
					<Image
						class="slides-img"
						src={Sepeda2}
						alt="orang naik sepeda"
					/>
				</div>

				<div class="slides slide-3">
					<div class="slides-text">
						<h1>Summer has never been this productive.</h1>
						<p>Ride with pride. Use our app to track your journey.</p>
					</div>
					<Image
						class="slides-img"
						src={Sepeda3}
						alt="orang naik sepeda"
					/>
				</div>
				<div class="slides slide-4">
					<div class="slides-text">
						<h1>Easy maintenance, zero hussle.</h1>
						<p>Our alloys are high-quality. Welded with precision and crafts.</p>
					</div>
					<Image
						class="slides-img"
						src={Sepeda4}
						alt="orang naik sepeda"
					/>
				</div>
			</div>
		</section>
	</body>
</html>
<script>
	//@ts-nocheck

	import LocomotiveScroll from "locomotive-scroll";

	const scrollHorizontal = new LocomotiveScroll({
		lenisOptions: {
			wrapper: document.querySelector(".main-view"),
			orientation: "horizontal",
		},
	});
	const scrollVertical = new LocomotiveScroll({
		lenisOptions: {
			wrapper: window,
			orientation: "vertical",
		},
	});
</script>
